/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Wix Madefor Display;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}
.box {
  width: 100%;
  max-width: calc(1920px - 2 * 200px);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px 30px;

  border-radius: 10px;
  background: rgb(0, 86, 254);
  transition: all 0.3s;
}

.btn:hover {
  background: rgb(0, 48, 142);
}

.btn-text {
  color: rgb(255, 255, 255);
  font-family: Wix Madefor Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.arrows-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.arrow-btn-container {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  box-shadow: 5px 5px 20px 0px rgba(200, 212, 223, 0.8),
    3px 3px 10px 0px rgba(210, 218, 227, 0.5),
    -3px -3px 10px 0px rgb(255, 255, 255),
    -5px -5px 18px 0px rgba(255, 255, 255, 0.9);
  background: rgb(239, 241, 247);
}

.arrow-btn-icon {
  width: 14px;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 75, 151, 0.4);
}

.circle {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: white;
}

.nav-dot {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.nav-dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}

/* HEADER */
.header-container {
  position: fixed;
  top: 0;
  background: rgb(255, 255, 255);
  z-index: 1;
}
.header-box {
  position: relative;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0px 0px 20px 20px;
  background: rgb(255, 255, 255);
  padding: 17px 0;
  margin-bottom: 20px;
}

.header-section-logo img {
  width: 117px;
  height: 46px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0px;
  gap: 40px;
}

.nav-link:link,
.nav-link:visited {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  color: rgb(32, 32, 33);
  font-family: Wix Madefor Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(0, 86, 254);
  font-family: Wix Madefor Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.nav-link:hover .nav-link-image {
  filter: invert(22%) sepia(94%) saturate(6232%) hue-rotate(222deg)
    brightness(108%) contrast(102%);
}

.nav-link-text,
.nav-link-image {
  margin-bottom: 18px;
  transition: all 0.3s;
}

.nav-link-selected {
  border-bottom: 1px solid rgb(0, 86, 254);
}

.nav-link-selected,
.nav-link-selected .nav-link-text {
  color: rgb(0, 86, 254);
}

.nav-link-selected .nav-link-image {
  filter: invert(22%) sepia(94%) saturate(6232%) hue-rotate(222deg)
    brightness(108%) contrast(102%);
  transform: rotate(180deg);
}

.header-submenu {
  position: absolute;
  top: 102px;
  left: 0;
  box-sizing: border-box;
  border-radius: 40px;
  background: rgb(239, 241, 247);
}

.header-submenu-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 40px;
  gap: 20px;
}

.header-submenu-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;

  border-radius: 20px;

  background: rgb(255, 255, 255);
}
.header-submenu-card:hover {
  border-radius: 20px;

  box-shadow: 0px 10px 30px 0px rgba(210, 218, 227, 0.7),
    0px 5px 13px 0px rgba(210, 218, 227, 0.3);
  background: rgb(255, 255, 255);
}
.header-submenu-card-title {
  color: rgb(32, 32, 33);
  font-family: Wix Madefor Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}
.header-submenu-card:hover .header-submenu-card-title {
  background: linear-gradient(
    137.7deg,
    rgb(57, 199, 236),
    rgb(57, 199, 236),
    rgb(0, 80, 236)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: Wix Madefor Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.header-submenu-card-desc {
  color: rgb(32, 32, 33);
  font-family: Wix Madefor Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.hamburger-menu,
.header-submenu-mobile {
  display: none;
}

/* MAIN */
main {
  margin-top: 112px;
}

/* HERO SECTION */
.hero-section {
  border-radius: 40px;
  background: rgb(239, 241, 247);
  display: flex;
  margin-bottom: 150px;
}

.hero-section-text-box {
  width: 50%;
  /* max-width: 767px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 85px;
  padding: 129px 0 40px 80px;
}

.hero-section-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.hero-section-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.hero-section-title {
  background: linear-gradient(
    90deg,
    rgb(57, 199, 236),
    rgb(57, 199, 236),
    rgb(0, 80, 236)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  font-family: Wix Madefor Display;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.hero-section-subtitle {
  color: rgb(32, 32, 33);
  font-family: Wix Madefor Display;
  font-size: 30px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.hero-section-graphics-container {
  width: 50%;
  background: url('src/assets/hero-image-guy.png') no-repeat center;
  position: relative;
}
.hero-section-sales-frame {
  /* #Sales */
  position: absolute;
  left: 103px;
  top: 135px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
}
.hero-section-sales-relative {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.hero-section-sales-relative-title {
  color: rgb(23, 23, 37);
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.1px;
  text-align: left;
}
.hero-section-sales-relative-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section-sales-relative-increase {
  color: rgb(61, 213, 152);
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
}
.hero-section-sales-total {
  color: rgb(23, 23, 37);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
}
.hero-section-sales-absolute {
  color: rgb(146, 146, 157);
  font-family: Inter;
  font-size: 9px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.07px;
  text-align: left;
}
.hero-section-services-card {
  position: absolute;
  min-width: 171.72px;
  padding: 14px 18px;
  border: 1.14px solid rgb(216, 220, 229);
  border-radius: 9.54px;
  background: rgb(239, 241, 247);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}
#card-1 {
  left: 103px;
  top: 352px;
}
#card-2 {
  left: 59px;
  top: 407.65px;
}
#card-3 {
  background: rgb(45, 50, 61);
  font-family: Inter;
  font-size: 12.72px;
  font-weight: 700;
  line-height: 15.9px;
  letter-spacing: 0px;
  text-align: left;

  left: calc(1210px - 1520px / 2);
  top: 178px;
}
#card-3 .hero-section-services-text {
  color: rgb(255, 255, 255);
}
.hero-section-services-card-children {
  margin-left: auto;
}
.hero-section-services-text {
  color: rgb(32, 32, 33);
  font-family: Inter;
  font-size: 12.72px;
  font-weight: 700;
  line-height: 15.9px;
  letter-spacing: 0px;
  text-align: left;
}
.hero-section-graph-frame {
  position: absolute;
  left: calc(1210px - 1520px / 2);
  top: 249px;
  border-radius: 12.62px;
}
.hero-section-graph-frame img {
  box-shadow: 7.96px 7.96px 34.12px 0px rgba(210, 218, 227, 0.6),
    5.69px 5.69px 14.78px 0px rgba(210, 218, 227, 0.3);
}
.hero-section-hit-rate-frame {
  position: absolute;
  left: calc(888px - 1520px / 2);
  top: 481px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 16px 24px 16px 16px;
}
.hero-section-hit-rate-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.hero-section-hit-rate-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section-hit-rate-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
}
.hero-section-hit-rate-percentage {
  color: rgb(32, 32, 33);
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.1px;
  text-align: left;
}
.hero-section-hit-rate-text {
  color: rgb(105, 105, 116);
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.08px;
  text-align: left;
}
.hero-section-graphics-mob {
  display: none;
}

/* AUTOMATIZATION */
.automatization-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  margin-bottom: 150px;
}
.automatization-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 543px;
}
.automatization-section-title {
  background: linear-gradient(
    90deg,
    rgb(57, 199, 236),
    rgb(57, 199, 236),
    rgb(0, 80, 236)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Wix Madefor Display;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.automatization-section-desc {
  color: rgb(32, 32, 33);
  font-family: Wix Madefor Display;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.automatization-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
  gap: 56px;
  border-radius: 40px;
  background: rgb(239, 241, 247);
  padding: 60px;
}
.automatization-section-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}
.automatization-section-card-chart {
  max-width: 321px;
}
.automatization-section-card-text {
  color: rgb(32, 32, 33);
  font-family: Wix Madefor Display;
  font-size: 26px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.automatization-section-slider-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.dots-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 0px;
}
.dot-container {
  padding: 9px;
}
